body {
    text-align: center;
}

h1 {
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
    border: 5px solid #000;
    padding: 10px;
    margin-bottom: 50px;
}

h2 {
    color: hsl(0, 50%, 25%);
}

ol {
    background-color: grey;
}

li {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

a {
    display: inline-block;
    background-color: #FFF;
    color: #000;
    padding: 5px;
    margin-left: 10px;
    border: 2px solid #000;
}

.bacon {
    background-color: hsl(300, 100%, 75%);
    color: #FFF;
}

.egg {
    background-color: hsl(60, 100%, 75%);
    color: #000;
}